#ifndef CONFIG_H
#define CONFIG_H

#define WIFI_SSID "TBD"
#define WIFI_PASS "TBD"

// Check https://github.com/nayarsystems/posix_tz_db/blob/master/zones.csv for valid zones
#define TIMEZONE "CET-1CEST,M3.5.0/02,M10.5.0/03"

#define HOMEKIT_ENABLED

#endif
