#ifndef CONFIG_H
#define CONFIG_H

#define WIFI_SSID "TBD"
#define WIFI_PASS "TBD"

#define TIMEZONE "CEST-1CET,M3.2.0/2:00:00,M11.1.0/2:00:00"

#define TEMP_OFFSET   7
#define BREW_ON_START 0

#endif